.pdfDownload {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  
  .singleLineLink {
    font-weight: 700;
    color: inherit;
    cursor: pointer;
    color: var(--color-green);
  }
  
}
